<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-light fixed-top"
     [ngClass]="{'bg-faded': isHealthy, 'bg-warning': !isHealthy}">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand animated" routerLink="/home" [class.rubberBand]="mousehover" (mouseover)="mousehover=true"
       (mouseout)="mousehover=false">
        <img src="assets/android-icon-36x36.png" alt="Xplorer">
        <div class="brand-name">Xplorer</div>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isConnected()">
        <ul class="navbar-nav mr-auto">
            <li class="dropdown">
                <button class="btn dropdown-toggle" id="dropdown2" data-toggle="dropdown">
                    Documents
                </button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Find</h6>
                    <a class="dropdown-item" [routerLink]="['explore']">Explore</a>
                    <h6 class="dropdown-header">Info</h6>
                    <a class="dropdown-item" [routerLink]="['blockchain-info']">Blockchain Info</a>
                </div>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <div class="status-indicator">
                <div *ngIf="!isHealthy" class="nav-item offline blink" title="Disconnected">
                    <i class="fa fa-exclamation-circle"></i></div>
                <div *ngIf="isHealthy" class="nav-item online" title="Connected">
                    <i class="fa fa-bolt"></i>
                </div>
            </div>
            <label class="username disabled">{{username}}</label>
            <div class="form-group">
                <button class="btn btn-outline-danger" id="logoutBtn" (click)="disconnect()">Disconnect</button>
            </div>
        </form>
    </div>

    <div class="collapse navbar-collapse" id="loginDetails" *ngIf="!isConnected()">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline">
            <fieldset [disabled]="isConnecting()">
                <input class="form-control mr-sm-2" type="text" placeholder="RPC host" name="host" [(ngModel)]="host">
                <input class="form-control mr-sm-2" type="text" placeholder="RPC port" name="port" [(ngModel)]="port">
                <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username"
                       [(ngModel)]="username">
                <input class="form-control mr-sm-2" type="text" placeholder="Password" name="password"
                       [(ngModel)]="password">
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="connect()">Connect</button>
            </fieldset>
        </form>
    </div>
</nav>