<div>
    {{id}}
    <span class="icons">
        <a class="action-icon-link" title="Copy value" ngxClipboard (click)="copyToClipboard(id)"
           [cbContent]="id"><i class="fa fa-clone"></i></a>
        <a class="action-icon-link" [routerLink]="['/view-document', id]" title="Open document"><i
                class="fa fa-external-link"></i></a>
       <a class="action-icon-link" [routerLink]="['/explore', id]" title="Reveal in explorer"><i
               class="fa fa-list-alt"></i></a>
    </span>
</div>