/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';

body {
    margin-top: 80px !important;
    margin-bottom: 40px !important;
}

tag-input {
    padding: 0 5px !important;
    > div {
        padding: 0 !important;
    }
}

split-gutter {
    height: auto !important;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;
}

.clear-input {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
    cursor: pointer;
    opacity: 0.5;
    color: red;

    &:hover {
        opacity: 1.0;
    }
}

.input-clear-group {
    position: relative;
}

a.action-icon-link {
    margin-left: 10px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.force-link {
    cursor: pointer;
    color: #007bff !important;
    &:hover {
        color: #0056b3 !important;;
    }
}