<div class="container">
    <div class="jumbotron">
        <h4 class="text-center">Search for something</h4>
        <h6 class="text-center">(Currently only blocks, in next version we'll add addresses and transactions)</h6>
        <p>&nbsp;</p>
        <div class="container">
            <div class="form-group row">
                <label for="searchTokens" class="col-sm-2 col-form-label">Search for...</label>
                <div class="col-sm-8">
                    <div class="input-clear-group">
                        <tag-input class="form-control" [(ngModel)]="searchTokens" id="searchTokens" theme="minimal"
                                   [secondaryPlaceholder]="secondaryPlaceholder" [placeholder]="placeholder" [disable]="searching"></tag-input>
                        <i *ngIf="searchTokens.length" class="clear-input fa fa-remove" (click)="clearSearch()"></i>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-outline-success btn-primary" [disabled]="!searchTokens.length"
                            (click)="!searching && runSearch()" [disabled]="searching">Search
                    </button>
                </div>
            </div>
        </div>
        <div>
            <p>&nbsp;</p>
            <h5 class="text-center" *ngIf="searching">Searching... <i class="fa fa-refresh fa-spin fa-fw"></i></h5>
            <h5 class="text-center animated fadeInDown" *ngIf="searchExecuted && !searchTokens.length && !searching">Nothing found <i class="fa fa-frown-o" aria-hidden="true"></i></h5>
            <h5 class="text-center animated fadeInDown" *ngIf="!searchExecuted">Let's find some blocks <i class="fa fa-search" aria-hidden="true"></i></h5>
            <h5 class="text-center animated fadeInDown" *ngIf="blocks.length && !searching">Found {{blocks.length}} block<span *ngIf="blocks.length > 1">s</span> <i class="fa fa-link" aria-hidden="true"></i></h5>
        </div>
    </div>

    <div *ngFor="let block of blocks">
        <div>{{block | json}}</div>
    </div>
</div>